<p style="color: green"><%= notice %></p>

<% content_for :title, "Farm sizes" %>

<h1>Farm sizes</h1>

<div id="farm_sizes">
  <% @farm_sizes.each do |farm_size| %>
    <%= render farm_size %>
    <p>
      <%= link_to "Show this farm size", [:admin, farm_size] %>
    </p>
  <% end %>
</div>

<%= link_to "New farm size", new_admin_farm_size_path %>
