<%# encoding: UTF-8 %>
<%# app/views/public_plans/results.html.erb %>
<%# 作付け計画完成画面 - ガントチャート形式 %>

<div class="public-plans-wrapper">
  <div class="cultivation-results-container">
    
    <%# ヘッダー・サマリー %>
    <%= render 'public_plans/results/header', cultivation_plan: @cultivation_plan %>
    
    <%# ガントチャート %>
    <%= render 'public_plans/results/gantt_chart', cultivation_plan: @cultivation_plan %>
    
    <%# 気温・GDDチャート表示エリア（作物クリック時に表示、climate_chart.jsが内容を生成） %>
    <div id="climate-chart-display" style="display: none;"></div>
    
    <%# アクションボタン %>
    <div class="action-buttons">
      <%= link_to public_plans_path, class: "btn-white" do %>
        ← 新しい計画を作成
      <% end %>
    </div>
    
  </div>
</div>

<%# Chart.js は npm で管理され application.js にバンドル済み %>
<%# cultivation_results.js も application.js にバンドル済み %>
