# Solid Queue configuration
production:
  dispatchers:
    - polling_interval: 1
      batch_size: 500
      concurrency_maintenance_interval: 600

  workers:
    - queues: "*"
      threads: 3
      processes: 1
