<%# app/views/crops/_actions.html.erb %>
<%#
  パラメータ:
    crop: Crop - 表示する作物オブジェクト
    display: ResourceDisplayCapabilities（Interactor 由来）
%>

<div class="actions">
  <%= link_to t('crops.show.back_to_list'), crops_path, class: "btn btn-secondary" %>
  <% if local_assigns[:display]&.show_edit_button %>
    <%= link_to t('crops.show.edit'), edit_crop_path(crop), class: "btn btn-secondary" %>
  <% end %>
  <% if local_assigns[:display]&.show_delete_button %>
    <%= link_to t('crops.show.delete'), crop_path(crop),
                class: "btn btn-error",
                data: {
                  controller: "undo-delete",
                  action: "click->undo-delete#submit",
                  turbo_method: :delete,
                  undo_delete_url_value: crop_path(crop),
                  undo_delete_message_value: t('crops.undo.toast', name: crop.name),
                  undo_delete_redirect_url_value: crops_path
                } %>
  <% end %>
</div>
