<div class="nested-fields">
  <div class="form-row">
    <div class="form-group">
      <%= f.label :required_gdd, t('crops.stage.thermal.required_gdd_label'), class: 'form-label' %>
      <%= f.number_field :required_gdd, class: 'form-control', step: 0.1, placeholder: t('crops.stage.thermal.required_gdd_placeholder') %>
      <div class="form-text">
        <%= t('crops.stage.thermal.required_gdd_help') %>
      </div>
    </div>
  </div>
</div>

