<% content_for :title, "新しいルール作成 - AGRR" %>

<div class="page-header">
  <h1 class="page-title">新しいルール作成</h1>
</div>

<div class="rule-detail-card">
  <%= render "form", interaction_rule: @interaction_rule %>
</div>
