<% content_for :title, "#{t('.title', name: @agricultural_task.name)} - AGRR" %>

<div class="page-header">
  <h1 class="page-title"><%= t('.title', name: @agricultural_task.name) %></h1>
</div>

<%= render 'form' %>








