<% content_for :title, "#{@crop.name} - #{t('.title')} - AGRR" %>

<div class="page-header">
  <h1 class="page-title">
    <%= link_to @crop.name, crop_path(@crop), class: "crop-link" %> - <%= t('.title', pest_name: @pest.name) %>
  </h1>
  <%= link_to t('.back_to_list'), crop_pests_path(@crop), class: "btn btn-secondary" %>
</div>

<%= render 'form', pest: @pest, crop: @crop %>

